<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title> vote</title>
 <style>
#img1 {
 border: 3px solid #101010;
 border-radius:20px;
 padding: 0px;
 width: 70px;
}
div {
 background-color: #666;
 padding-top: 20px;
 padding-bottom: 100px;
 text-align: center;
 font-size: 25px;
 color: white;

 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
body {
 padding: 20px;
 text-align: center;
 font-size: 20px;
 }
</style>
</head>
<body>
<div>
 <h2>USE YOUR VOTE WISELY</h2>
 <form action = "#" method = "POST">
 <label id=section>
 <input type="radio" id="vote_1" name="vote" value="BJP">
 Bharatiya Janata Party (BJP)<img id=img1 src="https://upload.wikimedia.org/wikipedia/commons/thum
b/1/1e/Bharatiya_Janata_Party_logo.svg/1200px-Bharatiya_Janata_Party_logo.svg.png" >
<br>
 </label>
 <label id=section>
 <input type="radio" id="vote_2" name="vote" value="INC">
 <label for="vote_2">Indian National Congress (INC)
<img id=img1 src="https://m.media-amazon.com/images/I/61FXpKlb+HL._AC_SL1500_.jpg" >
 <br>
 </label>
 <label id=section>
 <input type="radio" id="vote_3" name="vote" value="CSI">
 Communist Party of India (CSI)<img id=img1 src="https://upload.wikimedia.org/wikipedia/commons/t
humb/7/72/CPI-M-flag.svg/1200px-CPI-M-flag.svg.png" >
<br>
 </label>
 <label id=section>
 <input type="radio" id="vote_4" name="vote" value="BSP">
 Bahujan Samaj Party (BSP)<img id=img1 src="https://images.news18.com/ibnlive/uploads/2021/02/161
4153935_51olnod-qjl._sl1132_.jpg" ><br>
 </label>
 <label id=section>
 <input type="radio" id="vote_5" name="vote" value="NPP">
 National People's Party (NPP)<img id=img1 src="https://lh3.googleusercontent.com/proxy/I144n9dSUE
6nc772TkSjgsMSH8sBsTsGWxq_xIldBb_EotwNA3hWHEe-o2HF5HKB31oSPl9cs4PZr-K98CNYeRPnwh0V2b0_Cq4jKqcUkzAW6PxK0_fZEVGqybmoFs_xH3qEPkTWjYNbY__"><br>
 </label>
 <label id=section>
 <input type="radio" id="vote_6" name="vote" value="NOTA">
 None of the Above (NOTA)<img id=img1 src="https://www.insightsonindia.com/wpcontent/uploads/2017/03/nota-india.jpg" >
<br>
 </label>
 <br>
 <a href="index.html"></a>
 <button type="submit" value="vote" name="submit">
    </a>
 Submit Vote
 </button>
 </form>
 </div>
</body>
</html>